<div class="card"
    [ngClass]="{'silver':player.rarityName==='Silver','gold':player.rarityName==='Gold'}"
    [tuiHint]="tooltip" (tuiHoveredChange)="onHovered(player.playerID)"
    *ngLet="playerInfo$ | async as playerInfo">

    <div class="imgBox">
        <img [@unpackCard]="player.unpacked? 'unpacked' : 'packed'" class="team-logo"
            [src]="player.teamLogo">
        <img [src]="player.photo" class="product-img"
            [@unpackCard]="player.unpacked? 'unpacked' : 'packed'">
        @if(!player.unpacked){
        <frozen-fantasy-button class="unpack-btn"
            (click)="onUnpack()">Открыть</frozen-fantasy-button>
        }
    </div>

    <div class="contentBox">
        @if(player.unpacked){
        <span class="sweater-number">{{player.sweaterNumber}}</span>
        <span class="title">{{player.name}}</span>
        <span class="position">{{positionsMap[player.position]}}</span>
        }
        @else(){
        <span class="sweater-number">?</span>
        @if(player.rarity===1){
        <span class="title">Cеребряный игрок</span>
        }
        @if(player.rarity===2){
        <span class="title">Золотой игрок</span>
        }
        <span class="position">?</span>
        }

    </div>

    <ng-template #tooltip>
        <div class="stats">
            Последние {{playerInfo?.matchesCount}} матчей
            <div class="stat">
                <p>Fantasy points</p>
                <p>{{playerInfo?.fantasyPoint | number : '1.0-2'}}</p>
            </div>
            <div class="stat">
                <p>Голы</p>
                <p>{{playerInfo?.goals}}</p>
            </div>
            <div class="stat">
                <p>Ассисты</p>
                <p>{{playerInfo?.assists}}</p>
            </div>
            <div class="stat">
                <p>Броски</p>
                <p>{{playerInfo?.shots}}</p>
            </div>
            <div class="stat">
                <p>Мин. штрафа</p>
                <p>{{playerInfo?.pims}}</p>
            </div>
            <div class="stat">
                <p>Силовые приемы</p>
                <p>{{playerInfo?.hits}}</p>
            </div>

            <div class="stat">
                <p>Сейвы</p>
                <p>{{playerInfo?.saves}}</p>
            </div>
            <div class="stat">
                <p>Пропущено шайб</p>
                <p>{{playerInfo?.missedGoals}}</p>
            </div>
            <div class="stat">
                <p>Сухие матчи</p>
                <p>{{playerInfo?.shutout}}/{{playerInfo?.matchesCount}}</p>
            </div>
        </div>
    </ng-template>
</div>