<div class="card">

    <div class="imgBox">
        <img src="https://ss3api.mixfan.ru/assets/images/pack/silver_pack_hockey.png"
            class="product-img">
    </div>

    <div class="contentBox">
        <span class="title">{{product.productName}}</span>
        <frozen-fantasy-coins class="price" [price]="product.price" [mode]="'onDark'"
            [size]="'l'"></frozen-fantasy-coins>
        <frozen-fantasy-button class="buy"
            (click)="onBuy(product.id)">Купить</frozen-fantasy-button>
    </div>

</div>