<header>
	<h1>{{ tournament?.name }}</h1>
</header>

<section class="tournament-info">
	<h2>{{ tournament?.league }}</h2>
	<p>{{ tournament?.startDate | date }} - {{ tournament?.endDate | date }}</p>
</section>

<section class="schedule">
	<h2>Расписание матчей</h2>
	<ul>
		@for (match of tournament?.schedule; track $index){
		<li>{{ match.homeTeam.name }} vs {{ match.guestTeam.name }}</li>
		}
	</ul>
</section>

<section class="results">
	<h2>Результаты</h2>
	<table>
		<thead>
			<tr>
				<th>Матч</th>
				<th>Команды</th>
				<th>Победитель</th>
				<th>Итоговый счет</th>
			</tr>
		</thead>
		<tbody>
			@for(match of tournament?.results; track $index){
			<tr>
				<td>Матч {{ $index }}</td>
				<td>{{ match.homeTeam.name }} vs {{ match.guestTeam.name }}</td>
				<td>{{ match.winner.name }}</td>
				<td>{{ match.homeTeamScore }} : {{ match.guestTeamScore }}</td>
			</tr>
			}
		</tbody>
	</table>
</section>

<section class="teams">
	<h2>Участники</h2>
	<ul>
		@for(participant of tournament?.participants;track $index){
		<li>{{ participant.userName }}</li>

		}
	</ul>
</section>
