@import '../../styles.less';

header {
	background: rgb(24, 111, 182);
	background: linear-gradient(120deg, @base-blue 0%, @blue-200 98%);
	color: #fff;
	padding: 10px;
	text-align: center;
	border-radius: 30px;
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.details {
	margin-top: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.participants {
	width: 150px;
	margin: 0 auto;

	table {
		width: 100%;
		border-collapse: collapse;
		margin-top: 10px;
	}

	th,
	td {
		border: 1px solid #ddd;
		padding: 8px;
		text-align: left;
	}

	th {
		background-color: #f2f2f2;
	}