<header>
	<frozen-fantasy-league-icon
		[league]="tournament?.league"
		[size]="'l'"
	></frozen-fantasy-league-icon>
	<h1>{{ tournament?.name }}</h1>
</header>

<div class="details">
	<frozen-fantasy-schedule-table
		[matches]="tournament?.matches ?? []"
	></frozen-fantasy-schedule-table>
</div>

<div class="participants">
	<h2>Участники</h2>
	<table>
		<tbody>
			@for(participant of tournament?.participants;track $index){
			<tr>
				<td>{{ participant.userName }}</td>
			</tr>

			}
		</tbody>
	</table>
</div>
