.card {
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #186FB6;
    border-radius: 25px;
    transition: all 0.5s;
    font-size: 18px;

    &:hover {
        background-color: #e7e7e7;
    }
}