<a href="" [routerLink]="[tournament?.id]" class="link">
	<div class="card">
		<div class="logo">
			<frozen-fantasy-league-icon [league]="tournament?.league"
				[size]="'m'"></frozen-fantasy-league-icon>
		</div>
		<div class="name">
			{{ tournament?.name }}
		</div>
		<div class="start-date">
			{{ tournament?.startDate | date }}
		</div>
		<div class="participants">
			{{ tournament?.participantsCount
			}}<img width="24" src="/assets/icons/participants.svg" alt="" class="logo-img" />
		</div>
		<div class="contribution">
			<frozen-fantasy-coins [price]="tournament?.contribution"></frozen-fantasy-coins>
		</div>
		<div class="reward">
			<frozen-fantasy-coins [price]="tournament?.reward"></frozen-fantasy-coins>
		</div>
		<div class="play" (click)="onClick($event)">
			<frozen-fantasy-button>Участвовать</frozen-fantasy-button>
		</div>
	</div>
</a>