<header>
    <div>
        <img src="your-logo.png" alt="Logo" id="logo">
        Frozen Fantasy
    </div>
    <nav>
        <a class="tab">Все турниры</a>
        <a class="tab">Мои турниры</a>
        <a class="tab">Рейтинг</a>
        <a class="tab">Галерея</a>
        <a class="tab">Правила</a>
    </nav>
    <img class="bell-icon" src="../assets/alert.svg">
    <button class="login-logout">Login</button>
</header>
<main>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</main>