<header>
	<div class="logo">
		<img src="../assets/icons/icon-512.png" alt="Logo" id="logo" />
		<p>Frozen Fantasy</p>
	</div>
	<nav>
		@for (tab of tabs; track $index) {
		<a class="tab" [ngClass]="activeTab === $index ? 'active' : ''" (click)="onClick($index)"
			[routerLink]="tab.routerLink">{{ tab.title }}</a>

		}
	</nav>
	<img (click)="goToProfile()" class="account-icon" [width]="36"
		src="../assets/icons/account.png" />
	<div class="balance">
		<frozen-fantasy-coins [price]="balance" [mode]="'onDark'"></frozen-fantasy-coins>
	</div>
	<button class="login-logout" (click)="onLogout()">Выйти</button>
</header>
<main>
	<div class="container">
		<router-outlet></router-outlet>
	</div>
</main>