.pick {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.players-list-wrapper {
    display: flex;
    justify-content: space-between;

    .list {
        flex-basis: 80%;
    }

    .sticky-wrapper {
        flex-basis: 20%;
        display: flex;
        margin-top: 2rem;
        top: 0;
        position: sticky;
        top: 2rem;
        height: 20px;
        flex-direction: column;
        gap: 2rem;

        .budget {
            display: flex;
            justify-content: center;
        }

        .button {

            padding-left: 5rem;
        }
    }
}