.results-wrapper {
    display: flex;
    margin-top: 2rem;

    .standings-wrapper {
        flex-basis: 50%;

        table {
            width: 100%;
            text-align: center;
        }
    }
}