/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.cdnfonts.com/css/exo-2');
@base-blue: #186fb6;
@blue-900: #144f93;
@base-500: #aeaeae;
@base-900: #2D2D2D;
@blue-200: #81cff8;

body {
	font-family: 'Exo 2', sans-serif !important;
	height: 100vh;
}

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";