.container {
    display: flex;
    margin-top: 2rem;
    gap: 2rem;

    .filters {
        flex-basis: 20%;
    }

    .card-list {
        display: flex;
        flex-basis: 80%;
        flex-direction: column;
        gap: 2rem;
    }
}