.container {
    display: flex;
    margin-top: 2rem;
    gap: 2rem;

    .filters {
        display: flex;
        flex-direction: column;
        height: 10rem;
        flex-basis: 20%;
        border: 2px solid #57D5DD;
        border-radius: 25px;
    }

    .card-list {
        display: flex;
        flex-basis: 80%;
        flex-direction: column;
        gap: 2rem;
    }
}